{{#if updateQuestionForm}}
  <h4 class="text-center">Update {{model.author}}'s {{model.category}} Case</h4>
  <div class="text-center">
    <form>
      <div class="form-group">
        <label for="author">Author</label>
        {{input value=author id="author" placeholder=model.author}}
      </div>

      <div class="form-group">
        <label for="title">Title</label>
        {{input value=title id="title" placeholder=model.title}}
      </div>

      <div class="form-group">
        <label for="content">Notes</label>
        {{textarea value=content id="content" placeholder=model.content}}
      </div>

      <button class="btn btn-success" {{action 'update' model}}>Save</button>
    </form>
  </div>
{{else}}
  <button class="btn btn-success center-block" {{action 'updateQuestionForm'}}>Edit</button>
{{/if}}
