  <div class="question">
    <h3>{{question.title}}</h3>
    <h5>{{question.author}} -- {{answerCount}} Answers</h5>
    <p>
      {{question.content}}
    </p>
  </div>
  <button class="btn btn-danger" {{action 'delete' question}}>Delete</button>
  <button class="btn btn-primary" {{action 'addToFaves' question}}>Add Question to Favorites</button><br>
